{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "globals": {
        "Symbol",
        "$": false,
        "Promise": true,
        "ENV": true,
        "expect": true,
        "it": true,
        "fit": true,
        "xit": true,
        "spyOn": true,
        "jQuery": true,
        "fdescribe" : true,
        "describe" : true,
        "xdescribe" : true,
        "gapi" : true,
        "START_DATE" : true,
        "$hour" : true,
        "$minute" : true,
        "jasmine": true,
        "before": true,
        "beforeEach": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "import"
    ],
    "settings": {
    },
    "rules": {
        "prefer-const": [
            "error",
            {
                "destructuring": "all"
            }
        ],
        "no-var": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "quote-props": [
            "error",
            "as-needed"
        ],
        "no-array-constructor": "error",
        "object-shorthand": [
            "error",
            "properties"
        ],
        "prefer-destructuring": [
            "warn",
            {
                "VariableDeclarator": {
                    "array": true,
                    "object": true
                },
                "AssignmentExpression": {
                    "array": false,
                    "object": true
                }
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "prefer-template": "off",
        "template-curly-spacing": ["warn", "never"],
        "prefer-rest-params": "error",
        "wrap-iife": [
            "error",
            "outside"
        ],
        "no-loop-func": "error",
        "no-new-func": "error",
        "func-style": [
            "error",
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "space-before-blocks": [
            "error",
            {
                "functions": "always"
            }
        ],
        "no-param-reassign": [
            "warn",
            {
                "props": false
            }
        ],
        "prefer-spread": "error",
        "prefer-arrow-callback": [
            "error",
            {
                "allowNamedFunctions": true
            }
        ],
        "arrow-spacing": "error",
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "no-confusing-arrow": [
            "error",
            {
                "allowParens": true
            }
        ],
        "no-iterator": "error",
        "no-restricted-syntax": [
            "error",
            "WithStatement",
            "BinaryExpression[operator='in']",
            {
                "selector": "CallExpression[callee.name='setTimeout'][arguments.length!=2]",
                "message": "setTimeout must always be invoked with two arguments."
            }
        ],
        "generator-star-spacing": [
            "error",
            {
                "before": false,
                "after": false
            }
        ],
        "dot-notation": "error",
        "no-undef": [
            "error",
            {
                "typeof": false
            }
        ],
        "no-multi-assign": "error",
        "no-multi-spaces": "warn",
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "max-len": [
            "off",
            {
                "code": 80,
                "ignoreComments": true,
                "ignoreTrailingComments": true
            }
        ],
        "eqeqeq": "warn",
        "no-case-declarations": "warn",
        "no-nested-ternary": "warn",
        "no-unneeded-ternary": "error",
        "no-mixed-operators": [
            "error",
            {
                "groups": [
                    [
                        "&",
                        "|",
                        "^",
                        "~",
                        "<<",
                        ">>",
                        ">>>"
                    ],
                    [
                        "&&",
                        "||"
                    ],
                    [
                        "==",
                        "!=",
                        "===",
                        "!==",
                        ">",
                        ">=",
                        "<",
                        "<="
                    ]
                ],
                "allowSamePrecedence": true
            }
        ],
        "nonblock-statement-body-position": [
            "error",
            "beside"
        ],
        "no-else-return": "error",
        "spaced-comment": [
            "error",
            "always",
            {
                "block": {
                    "balanced": true
                }
            }
        ],
        "indent": ["warn", 2],
        "semi-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "space-infix-ops": "error",
        "camelcase": "off",
        "keyword-spacing": "error",
        "no-unused-vars": "error",
        "no-fallthrough": "off",
        "curly": "off",
        "semi": "error",
        "no-empty": "off",
        "no-alert": "warn",
        "no-class-assign": "off",
        "no-useless-escape": "off",
        "no-bitwise": "off",
        "no-eq-null": "off",
        "no-debugger": "error",
        "guard-for-in": "warn",
        "object-curly-spacing": ["error", "always"]
    }
}
